{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}


    <img src="{{ asset("assets/images/#{ manif.affiche }") }}">
                <p>{{ manif.genre }}</p>
                <p>{{ manif.casting }}</p>
                <h5 > {{ manif.titre}} </h5>
                   <p> {{ manif.derouler.lieu }}</p>
                <p >{{ manif.date |date("d/m/Y H:i")}}</p>
                    <p>{{ manif.derouler.adresse}}</p>
                    <p>{{ manif.description}} </p>
                <p>{{ manif.prix }} €</p>



{% endblock %}
