{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}

    <style>

        html,body {
            overflow-x: hidden;
        }

        .section-card {
            display: flex;
            margin: 0 auto;
            margin-top: 50px;
        }

        .card-container {
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            width: 70%;
            margin-top: 130px;
        }

        .card-img {
            object-fit: cover;
        }

        .card-title {
            padding-left: 20px;
            font-weight: bold;
        }

        .card {
            display: flex;
            margin: 0 auto;
            margin-bottom: 50px;
        }

        .card-text1 {
            padding-left: 20px;
            color: gray;
            font-weight: bold;
        }

        .text-container {
            margin-left: 20px;
            background-color: black;
            border-radius: 15px;
            width: 180px;
        }

        .text-container2 {
            margin-left: 20px;
            background-color: #3EB57C;
            border-radius: 15px;
            width: 100px;
        }

        .text-container3 {
            margin-left: 20px;
            background-color: #3E8AB5;
            border-radius: 15px;
            width: 100px;
        }

        .text-container4 {
            margin-left: 20px;
            background-color: #B53E3E;
            border-radius: 15px;
            width: 100px;
        }

        .text-container5 {
            margin-left: 20px;
            background-color: #784F86;
            border-radius: 15px;
            width: 100px;
        }




        .card-text2 {
            text-align: center;
            color: white;
            font-weight: bold;
            padding: 3px;

        }

        .card-text4 {
            text-align: center;
            color: white;
            font-weight: bold;
            padding: 3px;

        }

        .card-text3 {
            padding-left: 20px;
            font-weight: bold;
        }

        .btn {
            background-color: black;
        }

        .card-title1 {
            margin: 40px;
            font-weight: bold;
            text-align: center;
        }

        .card1 {
            margin: 50px 100px 50px 100px;
        }


        .btn {
            display: flex;
            border-radius: 20px;
            text-align: center;
        }

        #cercle {
            position: absolute;
            width: 2000px;
            height: 2000px;
            border-radius: 1000px;
            left: 250px;
            bottom: 1px;
            background: #B98FCF;
        }

            /* #cercle2 {
            position: relative;
            width: 2000px;
            height: 2000px;
            border-radius: 1000px;
            right: 800px;
            top: 300px;
            background: #5079BE;
        } */

        @media (max-width: 640px) {

            html,body {
                overflow-x: hidden;
            }

            .card {
                display: flex;
                margin: 0 auto;
                margin-top: 20px;
                width: 25rem;
            }

            .card-container {
                display: flex;
                margin: 0 auto;
                flex-wrap: wrap;
                margin-bottom: 50px;
            }

            .panier-achat {
                margin-top: 30px;
            }
        }


    </style>

            <img src="{{ asset("assets/images/#{ manif.affiche }") }}" class="card-img-top card-img" alt="concert makala" height="200rem">

                <h5 class="card-title text-start"> {{ manif.titre}} - {{ manif.derouler.lieu }}</h5>
                <p class="card-text1 fs-6 text-start">{{ manif.date |date("d/m/Y H:i")}}</p>
                <p class="card-text3 fs-2 text-start">{{ manif.prix }} €</p>
                <div class="text-container">
                    <p class="card-text2 fs-6">Ajouter au panier</p>
                </div>
                <div class="text-container2">
                    <p class="card-text4 fs-6">{{ manif.genre }}</p>

{% endblock %}
