{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <style>

        * {
            caret-color: transparent;
        }
        .txt-container {
            background-color: black;
            border-radius: 15px;
            width: 180px;
        }

        .txt-container2 {
            background-color: #3EB57C;
            border-radius: 15px;
            width: 100px;
        }
        .link-container2 {
            background-color: #3EB57C;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }

        .txt-container2 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        .txt-container > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        .txt-container3 {
            background-color: #3E8AB5;
            border-radius: 15px;
            width: 100px;
        }
        .link-container3 {
            background-color: #3E8AB5;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }
        .txt-container3 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        .txt-container4 {
            background-color: #B53E3E;
            border-radius: 15px;
            width: 100px;
        }

        .link-container4 {
            background-color: #B53E3E;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }
        .txt-container4 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }

        .txt-container5 {
            background-color: #784F86;
            border-radius: 15px;
            width: 100px;
        }
        .link-container5 {
            background-color: #784F86;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }
        .txt-container5 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        .genrecast {
            display: flex;
            align-items: center;
            gap: 5%;
        }
        h5 {
            FONT-SIZE: 55px;
            font-weight: bold;
            margin-top: 25px;
        }

        .lieuadr {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .detail {
            gap: 10%;
            align-items: center;
            display: flex;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .p-detail {
            display: flex;
        }

        .sectionundetail {
            min-height:100vh ;
            background-image: url("{{ asset("assets/images/#{ manif.affiche }") }}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
        }

        .alldetail {
            background-color: rgba(0, 0, 0, 0.850);
            height: min-content;
            color: white;
            border-radius: 50px 50px 0px 0px;
            padding: 4rem;
            margin-top: 150px;
        }

        .buttonbas {
            display: flex;
            align-items: center;
            margin-top: 50px;
            gap: 2%;
        }

        .continuerachat {
            background-color: white;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }

        #map {
            margin-right: 5px;
        }

        #time-five {
            margin-right: 5px;
        }

        #prix {
            font-size: 30px;
            font-weight: bold;
        }

        #p-description {
            width: 80%;
        }
        .fakeimage {
            display: none;
        }


    </style>
    <img class="fakeimage" id="image" src="{{ asset("assets/images/#{ manif.affiche }") }}" alt="">

    </style>
    <div class="sectionundetail">
        <div class="carddetail">
            <div class="alldetail">
                <div class="genrecast">
                    {% if manif.genre == 'Théâtre' %}
                        <div class="txt-container5">
                            <p>{{ manif.genre }}</p>
                        </div>
                    {% elseif manif.genre == 'Cinéma' %}
                        <div class="txt-container4">
                            <p>{{ manif.genre }}</p>
                        </div>
                    {% elseif manif.genre == 'Concert' %}
                        <div class="txt-container2">
                            <p>{{ manif.genre }}</p>
                        </div>
                    {% elseif manif.genre == 'Exposition' %}
                        <div class="txt-container3">
                            <p>{{ manif.genre }}</p>
                        </div>
                    {% endif %}
                    <p style="margin: 0px">Avec : {{ manif.casting }}</p>
                </div>
                <div>
                    <h5 id="article"> {{ manif.titre}} </h5>
                </div>
                <div class="detail">
                    <div>
                        <p class="p-detail"><box-icon name='time-five' id='time-five' color='#ffffff'></box-icon>{{ manif.date |date("d/m/Y H:i")}}</p>
                    </div>
                    <div class="lieuadr">
                        <p class="p-detail"><box-icon name='map' id='map' color='#ffffff'></box-icon>{{ manif.derouler.endroit }}, {{ manif.derouler.adresse}} </p>
                    </div>
                </div>
                <div>
                    <p id="p-description">{{ manif.description}} </p>
                </div>
                <p><span id="prix">{{ manif.prix }}</span>€</p>
                <div class="buttonbas">
                    <button type="button" class="btn btn-light btn-block btn-lg" ><a style="text-decoration: none; color: black" href="{{ path('app_affichage') }}">Continuer vos achats</a></button>
                    <div class="link-container">

                        {% if manif.genre == 'Théâtre' %}
                            <div class="link-container5" >
                                <input type="number" value="1" min="1" max="99" id="qte">
                                <input type="hidden" id="id" value="{{ manif.id }}">
                                <a style="text-align: center; text-decoration: none;"><p style="margin: 0px;text-decoration: none;color: white;"id="ajout">Ajouter au panier</p></a>
                            </div>
                        {% elseif manif.genre == 'Cinéma' %}
                            <div class="link-container4">
                                <input type="number" value="1" min="1" max="99" id="qte">
                                <input type="hidden" id="id" value="{{ manif.id }}">
                                <a style="text-align: center; text-decoration: none;"><p style="margin: 0px;text-decoration: none;color: white;"id="ajout">Ajouter au panier</p></a>
                            </div>
                        {% elseif manif.genre == 'Concert' %}
                            <div class="link-container2">
                                <input type="number" value="1" min="1" max="99" id="qte">
                                <input type="hidden" id="id" value="{{ manif.id }}">
                                <a style="text-align: center; text-decoration: none;"id="ajout"><p style="margin: 0px;text-decoration: none;color: white;">Ajouter au panier</p></a>
                            </div>
                        {% elseif manif.genre == 'Exposition' %}
                            <div class="link-container3">
                                <input type="number" value="1" min="1" max="99" id="qte">
                                <input type="hidden" id="id" value="{{ manif.id }}">
                                <a style="text-align: center; text-decoration: none;"><p style="margin: 0px;text-decoration: none;color: white;" id="ajout">Ajouter au panier</p></a>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}