{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <style>
        .txt-container {
            background-color: black;
            border-radius: 15px;
            width: 180px;
        }

        .txt-container2 {
            background-color: #3EB57C;
            border-radius: 15px;
            width: 100px;
        }
        .link-container2 {
            background-color: #3EB57C;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }

        .txt-container2 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        .txt-container > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        .txt-container3 {
            background-color: #3E8AB5;
            border-radius: 15px;
            width: 100px;
        }
        .link-container3 {
            background-color: #3E8AB5;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }
        .txt-container3 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
        .txt-container4 {
            background-color: #B53E3E;
            border-radius: 15px;
            width: 100px;
        }

        .link-container4 {
            background-color: #B53E3E;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }
        .txt-container4 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }

        .txt-container5 {
            background-color: #784F86;
            border-radius: 15px;
            width: 100px;
        }
        .link-container5 {
            background-color: #784F86;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
        }
        .txt-container5 > p {
            text-align: center;
            margin: 0;
            padding: 5px;
        }
.genrecast {
    display: flex;
    align-items: center;
    gap: 5%;
}
h5 {
    FONT-SIZE: 55px;
    font-weight: bold;
}

.lieuadr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.detail {
    gap: 30%;
    align-items: center;
    display: flex;
}

.sectionundetail {
    min-height:100vh ;
    background-image: url("{{ asset("assets/images/#{ manif.affiche }") }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.alldetail {
    background-color: rgba(0, 0, 0, 0.850);
    height: min-content;
    color: white;
    border-radius: 50px 50px 0px 0px;
    padding: 4rem;
}

.buttonbas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.continuerachat {
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    width: 200px;
    padding: 5px;
}
    </style>
<div class="sectionundetail">
<div class="carddetail">
    <div class="alldetail">
    <div class="genrecast">
        {% if manif.genre == 'Théâtre' %}
            <div class="txt-container5">
                <p>{{ manif.genre }}</p>
            </div>
        {% elseif manif.genre == 'Cinéma' %}
            <div class="txt-container4">
                <p>{{ manif.genre }}</p>
            </div>
        {% elseif manif.genre == 'Concert' %}
            <div class="txt-container2">
                <p>{{ manif.genre }}</p>
            </div>
        {% elseif manif.genre == 'Exposition' %}
            <div class="txt-container3">
                <p>{{ manif.genre }}</p>
            </div>
        {% endif %}
                <p style="margin: 0px">Avec : {{ manif.casting }}</p>
    </div>
    <div>
                <h5 > {{ manif.titre}} </h5>
    </div>
    <div class="detail">
                 <div>
                <p >{{ manif.date |date("d/m/Y H:i")}}</p>
                 </div>
                <div class="lieuadr">
                <p> {{ manif.derouler.lieu }}</p>
                <p>{{ manif.derouler.adresse}}</p>
                </div>
    </div>
    <div>
                    <p>{{ manif.description}} </p>
    </div>
                <p>{{ manif.prix }} €</p>
        <div class="buttonbas">
            <a class="continuerachat" href="{{ path("app_affichage")}}" style="text-align: center; text-decoration: none;"><p style=" margin: 0px;text-decoration: none;color: white;">Continuer les achats</p></a>
    <div class="link-container">

        {% if manif.genre == 'Théâtre' %}
            <div class="link-container5" >
                <a href="tel:+123456789" style="text-align: center; text-decoration: none;"><p style="margin: 0px;text-decoration: none;color: white;">Ajouter au panier</p></a>
            </div>
        {% elseif manif.genre == 'Cinéma' %}
            <div class="link-container4">
                <a href="tel:+123456789" style="text-align: center; text-decoration: none;"><p style="margin: 0px;text-decoration: none;color: white;">Ajouter au panier</p></a>
            </div>
        {% elseif manif.genre == 'Concert' %}
            <div class="link-container2">
                <a href="tel:+123456789" style="text-align: center; text-decoration: none;"><p style="margin: 0px;text-decoration: none;color: white;">Ajouter au panier</p></a>
            </div>
        {% elseif manif.genre == 'Exposition' %}
            <div class="link-container3">
                <a href="tel:+123456789" style="text-align: center; text-decoration: none;"><p style="margin: 0px;text-decoration: none;color: white;">Ajouter au panier</p></a>
            </div>
        {% endif %}
    </div>

        </div>
</div>
</div>
</div>



{% endblock %}
