{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <style>
        /* INDEX */
        .sectionun {
            height: 800px;
            background-image: url("{{ asset('assets/images/hero.jpg')}}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .sectiondeux {
            height: 700px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
        }
        .sectiontroix {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #eee;
            color: black;
            margin: 0 auto;
        }
        .sectionun p {
            color: white;
            font-size: 6rem;
            font-weight: bolder;
            margin: 40px;
            line-height: 6rem;
        }

        .billeterie {
            text-decoration: none;
            color: black;
            background-color: white;
            padding: 12px 60px 12px 60px;
            border-radius: 25px;
        }
        .ville {
            font-size: 50px;
            text-align: left;
        }
        .jamais {
            font-weight: bold;
        }
        .obtenez {
            font-size: 20px;
            margin-bottom: 60px;
            text-align: left;
        }


        .left-container {
            width: 50%;
            display: flex;
            float: left;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
            padding: 30px;
        }

        .right {
            height: 100%;
            width: 50%;
            display: flex;
            float: right;
            background-size: cover;
        }

        .right #tele {
            width: 100%;
            background-size: cover;
        }

        .center {
            padding: 20px;
        }

        .rechercher {
            text-decoration: none;
            color: white;
            background-color: black;
            padding: 12px 60px 12px 60px;
            border-radius: 25px;
            margin-top: 20px;
        }
        .ville {
            font-size: 2rem;
        }
        .jamais {
            font-weight: bold;
        }
        .obtenez {
            margin-bottom: 60px;
        }

        .envie {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
        }
        .decouvrez {
            font-size: 40px;
            text-align: left;
        }
        .decouvrez span{
            font-weight: bold;
        }
        .sectionun {
            background-image: url("{{ asset('assets/images/hero.jpg')}}");
        }

        #cachemisere {
            margin-bottom: 40px;
        }

    </style>

    <div class="sectionun" >
        <p id="title">Tous vos billets, <br> un seul site.</p>
    </div>

    <div class="sectiondeux">
        <div class="left-container">
            <div class="left">
                <p class="ville">Votre ville comme <br>
                    vous ne l’avez  <span class="jamais">JAMAIS</span> vu</p>
                <p class="obtenez">
                    Obtenez votre billet pour l’évènement de <br>
                    votre choix.
                </p>
                <a class="billeterie" href="{{ path('app_recherche') }}">BILLETERIE</a>
            </div>
        </div>
        <div class="right">
            <img id="tele" src="{{ asset('assets/images/work.jpg') }}" alt="man watching tv">
        </div>
    </div>

    <div class="sectiontroix">
        <div class="center">
            <p class="envie">VOS ENVIES</p>
            <p class="decouvrez">Découvrez ce qui vous fait <span>PLAISIR</span></p>
            <p id="cachemisere" style="font-size: 18px; text-align: left;">Une pièce de théâtre ? Un film ? Un concert ? Laissez vous guider par notre
                système de recherche.</p>
            <a class="rechercher"href="{{ path('app_affichage') }}">RECHERCHER</a>
        </div>
    </div>
{% endblock %}
