{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_label(form.titre) }}
    {{ form_widget(form.titre) }}

    {{ form_label(form.genre) }}
    {{ form_widget(form.genre) }}

    {{ form_label(form.prix) }}
    {{ form_widget(form.prix) }}

    {{ form_rest(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}
